<template>
    <v-container grid-list-xl fluid>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-toolbar color="primary" dark>
                        <v-toolbar-title>All Todoer Users</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn
                            v-on:click.prevent="loadUsers"
                            color="cyan"
                            dark
                        >
                            <v-icon>mdi-sync</v-icon>
                            Refresh
                        </v-btn>
                        <v-divider class="mx-4" inset vertical></v-divider>
                    </v-toolbar>
                    <div class="ma-5"></div>
                    <v-toolbar flat color="white">
                        <v-text-field
                            flat
                            solo
                            prepend-icon="mdi-magnify"
                            placeholder="Type something"
                            v-model="search"
                            hide-details
                            class="hidden-sm-and-down"
                        ></v-text-field>
                        <v-btn v-on:click="loadUsers" color="primary">
                            <v-icon>mdi-filter</v-icon> Filter
                        </v-btn>
                        <v-btn
                            v-on:click="[(search = ''), loadUsers()]"
                            color="pink"
                            dark
                        >
                            <v-icon>mdi-close-circle-outline</v-icon> Clear
                        </v-btn>
                    </v-toolbar>
                    <v-divider></v-divider>
                    <v-card-text class="pa-0">
                        <v-form @submit.prevent="handlePermission">
                            <v-data-table
                                :headers="table.headers"
                                :items="users"
                                :options.sync="table.syncOptions"
                                :server-items-length="totalUsers"
                                :loading="loading"
                                :single-select="singleSelect"
                                v-model="user_id"
                                show-select
                                item-key="id"
                                loading-text="Loading... Please wait"
                            >
                                <template v-slot:top>
                                    <v-switch
                                        v-model="singleSelect"
                                        label="Single select"
                                        class="pa-3"
                                    ></v-switch>
                                </template>
                                <template v-slot:item.permissions="{ item }">
                                    <v-chip
                                        class="ma-1 pa-2"
                                        color="primary"
                                        outlined
                                        pill
                                        x-small
                                        v-for="(itm, index) in item.permissions"
                                        :key="index"
                                    >
                                        <div
                                            v-if="itm.permission_name_id===1"
                                            style="width:150px"
                                        >
                                            <v-icon>mdi-account-circle-outline</v-icon>
                                            &nbsp;Profile-
                                            <span v-if="itm.permission_action_id===1">view</span>
                                            <span v-else-if="itm.permission_action_id===3">Edit</span>
                                        </div>
                                        <div
                                            v-if="itm.permission_name_id===2"
                                            style="width:150px"
                                        >
                                            <v-icon>mdi-account-circle-outline</v-icon>
                                            &nbsp;Todos-
                                            <span v-if="itm.permission_action_id===1">view</span>
                                            <span v-else-if="itm.permission_action_id===2">Create</span>
                                            <span v-else-if="itm.permission_action_id===3">Edit</span>
                                            <span v-else-if="itm.permission_action_id===4">Delete</span>
                                        </div>
                                    </v-chip>
                                </template>
                                <template v-slot:item.permission_description="{ item }">
                                    <div
                                        v-for="(itm, index) in item.permissions"
                                    >
                                        <v-chip
                                            class="pa-4"
                                            color="primary"
                                            text-color="white"
                                            pill
                                            small
                                            :key="index"
                                            v-if="(itm.permission_description) && 
                                                (index == (item.permissions.length - 1))"
                                            v-html = "itm.permission_description"
                                        >
                                        </v-chip>
                                    </div>
                                </template>
                                <template v-slot:item.status="{ item }">
                                    <v-chip
                                        :color="item.status ? 'success' : 'error'"
                                        class="ma-2"
                                        small
                                        text-color="white"
                                    >
                                        {{
                                            item.status ? "Enable" : "Disable"
                                        }}
                                    </v-chip>
                                </template>
                            </v-data-table>

                            <v-card 
                                class="ma-5"
                                elevation="1"
                                outlined
                            >
                                <v-card-text class="pa-5">
                                    <v-row justify="space-around">
                                        <v-col cols="12" lg="6" md="6" sm="12">
                                            <v-select
                                                :items="permissions"
                                                v-model="permission_name_id"
                                                label="Assign / Unassign Permission(s)"
                                                small-chips
                                                deletable-chips
                                                clearable
                                                multiple
                                                dense
                                                item-text="name"
                                                item-value="id"
                                                :error-messages="$getValidationError(errors, 'permission_name')"
                                            >
                                            </v-select>
                                        </v-col>
                                        <v-col cols="12" lg="6" md="6" sm="12">
                                            <v-select
                                                :items="permissionActions"
                                                v-model="permission_action_id"
                                                label="Assign / Unassign Permission Action(s)"
                                                small-chips
                                                deletable-chips
                                                clearable
                                                multiple
                                                dense
                                                item-text="name"
                                                item-value="id"
                                                :error-messages="$getValidationError(errors, 'permission_action')"
                                            >
                                            </v-select>
                                        </v-col>
                                        <v-col cols="12" lg="12" md="12" sm="12">
                                            <v-textarea
                                                background-color="grey lighten-4"
                                                label="Enter description"
                                                auto-grow
                                                rows="2"
                                                v-model="permission_description"
                                                :error-messages="$getValidationError(errors, 'permission_description')"
                                            ></v-textarea>
                                        </v-col>
                                        <v-col cols="12" lg="2" md="2" sm="12" align="right">
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn type="submit" color="primary">
                                                    <v-icon>mdi-18px mdi-content-save</v-icon>
                                                    &nbsp;Apply
                                                </v-btn>
                                                <v-btn
                                                    fab
                                                    dark
                                                    small
                                                    color="pink"
                                                    @click="deleteRecord()"
                                                >
                                                    <v-icon>mdi-trash-can</v-icon>
                                                </v-btn>
                                            </v-card-actions>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-form>
                        <v-divider class="mb-5"></v-divider>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
    beforeRouteEnter(to, from, next) {
        next(vm => {
            if((vm.user.id == 1)) {
                next();
            }else {
                next('/');
            }
        })
    },
    data() {
        return {
            loading: false,
            table: {
                headers: [
                    { text: "ID", value: "id", sortable: true, width: '80px' },
                    { text: "Name", value: "full_name", sortable: true, width: '250px' },
                    { text: "Email", value: "email", sortable: true, width: '180px' },
                    { text: "Phone", value: "phone", sortable: true, width: '180px' },
                    { text: "Mobile", value: "mobile", sortable: true, width: '180px' },
                    { text: "Role", value: "role", sortable: true, width: '180px' },
                    { text: "Permissions Name - Actions Name", value: "permissions", sortable: false, width: '900px' },
                    { text: "Permissions Description", value: "permission_description", sortable: false, width: '280px' },
                    { text: "Status", value: "status", sortable: true },
                ],
                syncOptions: {

                },
            },
            search: "",
            users: [],
            totalUsers: 0,
            singleSelect: false,
            
            permissions: [
                {id: 1, name: 'Profile'},
                {id: 2, name: 'Todos'},
            ],
            permissionActions: [
                {id: 1, name: 'View'},
                {id: 2, name: 'Create'},
                {id: 3, name: 'Edit'},
                {id: 4, name: 'Delete'},
            ],

            user_id: [],
            user_id_for_delete: [],
            permission_name_id:[],
            permission_action_id: [],
            permission_description: '',
            errors: null,
        };
    },
    computed: {
        ...mapState("auth", ["loggedIn", "user"]),
    },
    watch: {
        "table.syncOptions": {
            handler() {
                this.loadUsers();
            },
            deep: true,
        },
        'user_id': function(newValue, oldValue) {
            if(newValue !== oldValue) {
                this.user_id_for_delete = [];
                newValue.forEach((value, index, arr)=>{
                    this.user_id_for_delete.push(value.id);
                })
            }
        }
    },
    mounted() {
        this.loadUsers();
    },
    methods: {
        async loadUsers() {
            this.loading = true;
            this.users = [];
            await this.$axios
                .$get("/v1/settings/permission-todoers", {
                    params: {
                        ...this.table.syncOptions,
                        search: this.search,
                    },
                })
                .then((response) => {
                    this.users = response.data;
                    this.totalUsers = response.count;
                    
                })
                .catch(
                    function (error) {
                        console.log(error);
                    }.bind(this)
                );
            this.loading = false;
        },
        async handlePermission() {
            try {
                let response = await this.$axios.put(
                    "v1/settings/permission-todoers/" + this.user.id,
                    {
                        user_id: this.user_id,
                        permission_name: this.permission_name_id,
                        permission_action: this.permission_action_id,
                        permission_description: this.permission_description,
                        created_by: this.user.id,
                    }
                );
                if (response.data.status) {
                    this.$router.push(this.localePath("settings-permissions-todoers"));
                    this.loadUsers();
                    this.$toast.clear();
                    this.$toast.success(response.data.message);
                    this.logoutUserPermissionsSet();
                } else {
                    this.$toast.clear();
                    this.$toast.error(response.data.message);
                }
            } catch (error) {
                this.errors = error.response.data.errors;
                this.$toast.clear();
                this.$toast.error("Operation Failed! "+`${'<br />1. '}`+
                    this.errors.user_id+`${'<br />2. '}`+
                    this.errors.permission_name+`${'<br />3. '}`+
                    this.errors.permission_action);
                setTimeout(() => {
                    this.$scrollTo(".error--text", {
                        offset: -100,
                    });
                }, 1000);
            }
        },
        deleteRecord(){
            this.$confirm('Do you really want to delete record(s)?', {
                buttonTrueText: 'Yes',
                buttonFalseText: 'No',
                color: 'warning',
                icon: 'mdi-alert-circle',
                title: 'Warning',
                width: 350,
            }).then(res => {
                if(res) { 
                    this.$axios.
                    $delete('v1/settings/permission-todoers/'+this.user.id, {
                        params: {
                            user_id: this.user_id_for_delete,
                            permission_name: this.permission_name_id,
                            permission_action: this.permission_action_id,
                            permission_description: this.permission_description,
                            created_by: this.user.id,
                        }
                    }).
                    then((response) => {
                        if(response.status){
                            this.$router.push(this.localePath("settings-permissions-todoers"));
                            this.loadUsers();
                            //this.customers.splice(index, 1);
                            this.$toast.clear();
                            this.$toast.success(response.message);
                            this.logoutUserPermissionsSet();
                        }else{
                            this.$toast.clear();
                            this.$toast.error(response.message);
                        }
                    }).catch((error) => {
                        this.$toast.error('Deleting Record Failed. '+error);
                    })
                }
            }); 
        },
        async logoutUserPermissionsSet() {
            //await this.$auth.logout()+"/110";
            await this.$axios.put(
                "v1/auth/logout/" + this.user.id,
                {
                    user_id: this.user_id,
                }
            );
            //this.$toast.show("Logging out...");
            this.$toast.clear();
            this.$toast.success("Users need login again after permissions assigned/unassigned...");
        },
    },
};
</script>

<style lang="scss">
    .v-application .v-chip p,
    .v-application p {
        margin-bottom: 0!important;
    }
</style>
