<template>
    <v-container grid-list-xl fluid>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-toolbar color="primary" dark>
                        <v-toolbar-title>Edit Todoer User</v-toolbar-title>
                    </v-toolbar>
                    <v-divider></v-divider>
                    <v-card-text>
                        <create-edit-form
                            operation="edit"
                        />
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { mapState } from "vuex";
import CreateEditForm from '@/components/user/todoer/CreateEditForm';
export default {
    beforeRouteEnter(to, from, next) {
        next(vm => {
            if((vm.user.id == 1)) {
                next();
            }else if( (vm.user.role == 'todoer') && 
                (vm.$route.params.id == vm.user.id)) {
                if (vm.user.permissions) {
                    let nameAction = false;
                    Object.entries(vm.user.permissions).forEach(([key, value]) => {
                        if(value.permission_name_id === 1 && value.permission_action_id === 3) {
                            nameAction = true;
                        }
                    });
                    if(nameAction) {
                        next()
                    }else {
                        next('/');
                    }
                }else {
                    next('/');
                }
            }else {
                next('/auth-login')
            }
        })
    },
    components: {
        CreateEditForm
    },
    data() {
        return {
            
        }
    },
    computed: {
        ...mapState("auth", ["loggedIn", "user"]),
    },
    methods: {
        
    },
}
</script>