<template>
    <v-form v-on:submit.prevent="formSubmitHandler">
        <signingup-fields v-model="formModel" :errors="errors"></signingup-fields>
        <signingup-info-fields v-model="formModel.info" :errors="errors"></signingup-info-fields>
        <v-row>
            <v-col cols="12" class="text-center">
                <v-btn type="submit" color="success">Submit</v-btn>
                <v-btn
                    :to="localePath('auth-login')"
                    :nuxt="true"
                    color="secondary"
                >
                    Login
                </v-btn>
            </v-col>
        </v-row>
    </v-form>
</template>

<script>
import SigningupFields from "@/components/signingup/SigningupFields";
import SigningupInfoFields from "@/components/signingup/SigningupInfoFields";

export default {
    name: "todoer-create-form",
    props: {
        operation: String,
    },
    components: {
        SigningupFields,
        SigningupInfoFields,
    },
    data: () => ({
        formModel: {
            info: {},
            role: "todoer",
            created_by: '',
        },
        errors: null,
    }),
    mounted() {
        if (this.operation == "create") {
            this.initCreate();
        }
    },
    computed: {

    },
    methods: {
        async initCreate() {
            this.formModel.created_by = 0;
        },
        async formSubmitHandler() {
            if (this.operation == "create") {
                this.create();
            }
        },
        async create() {
            try {
                let response = await this.$axios.$post(
                    "v1/signingups/todoers",
                    this.formModel
                );
                if (response.status) {
                    this.$router.push(this.localePath("auth-login"));
                    this.$toast.clear();
                    this.$toast.success(response.message);
                } else {
                    this.$toast.clear();
                    this.$toast.error(response.message);
                }
            } catch (error) {
                this.errors = error.response.data.errors;
                this.$toast.clear();
                this.$toast.error("Operation Failed. "+error.message+", required or duplication problems");
                setTimeout(() => {
                    this.$scrollTo(".error--text", {
                        offset: -100,
                    });
                }, 500);
            }
        },
    },
};
</script>