<template>
    <v-container grid-list-xl fluid>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-toolbar color="primary" dark>
                        <v-toolbar-title>All Admin Users</v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                    <div class="ma-5"></div>
                    <v-divider></v-divider>
                    <v-card-text class="pa-0">
                        <v-data-table
                            :headers="table.headers"
                            :items="admins"
                            :options.sync="table.syncOptions"
                            :server-items-length="totalAdmins"
                            :loading="loading"
                            loading-text="Loading... Please wait"
                        >
                            <template v-slot:item.status="{ item }">
                                <v-chip
                                    :color="item.status ? 'success' : 'error'"
                                    class="ma-2"
                                    small
                                    text-color="white"
                                >
                                    {{
                                        item.status ? "Enable" : "Disable"
                                    }}
                                </v-chip>
                            </template>

                            <template v-slot:item.actions="{ item, index }">
                                <template>
                                    <v-btn
                                        v-if="(user.id == 1 ) || 
                                            ((user.role == 'client') && 
                                            (UserPermissionDataForAdminEdit == true)) || 
                                            (user.role == 'admin')"
                                        fab
                                        dark
                                        small
                                        color="primary"
                                        :to="localePath({name: 'users-admins-id-edit', params: {id: item.id}})"
                                    >
                                        <v-icon>mdi-account-edit</v-icon>
                                    </v-btn>

                                    <v-btn
                                        v-if="(user.id == 1 ) || 
                                            ((user.role == 'client') && 
                                            (UserPermissionDataForAdminDelete == true))"
                                        fab
                                        dark
                                        small
                                        color="pink"
                                        @click="deleteRecord(item.id, index)"
                                    >
                                        <v-icon>mdi-trash-can</v-icon>
                                    </v-btn>
                                </template>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
    beforeRouteEnter(to, from, next) {
        next(vm => {
            if(vm.user.id == 1) {
                next()
            }else {
                next('/auth-login')
            }
        })
    },
    data() {
        return {
            loading: false,
            table: {
                headers: [
                    { text: "ID", value: "id", sortable: true },
                    { text: "Name", value: "full_name", sortable: true },
                    { text: "Email", value: "email", sortable: true },
                    { text: "Mobile", value: "mobile", sortable: true },
                    { text: "Status", value: "status", sortable: true },
                    { text: "Actions", value: "actions", sortable: false },
                ],
                syncOptions: {
                    role: 'admin'
                },
            },
            search: "",
            admins: [],
            totalAdmins: 0,
            UserPermissionDataForAdminCreate: false,
            UserPermissionDataForAdminEdit: false,
            UserPermissionDataForAdminDelete: false,
        };
    },
    computed: {
        ...mapState("auth", ["loggedIn", "user"]),
    },
    watch: {
        "table.syncOptions": {
            handler() {
                this.loadAdmins();
            },
            deep: true,
        },
    },
    mounted() {
        this.loadAdmins();
        this.loadUserPermissionData();
    },
    methods: {
        async loadAdmins() {
            this.loading = true;
            this.admins = [];
            await this.$axios
                .$get("/v1/users/admins", {
                    params: {
                        ...this.table.syncOptions,
                        search: this.search,
                    },
                })
                .then((response) => {
                    this.admins = response.data;
                    this.totalAdmins = response.count;
                })
                .catch(
                    function (error) {
                        //console.log(error);
                        this.$toast.clear();
                        this.$toast.error("Sorry! no data found found. "+error.response.data.message);
                    }.bind(this)
                );
            this.loading = false;
        },
        deleteRecord(userId, index){
            if(userId == this.user.id){
                this.$toast.error('You cannot delete yourself. Please contact other admins.');
                return;
            }
            this.$confirm('Do you really want to delete this record?', {
                buttonTrueText: 'Yes',
                buttonFalseText: 'No',
                color: 'warning',
                icon: 'mdi-alert-circle',
                title: 'Warning',
                width: 350,
            }).then(res => {
                if(res) { 
                    this.$axios.$delete('/v1/users/admins/'+userId).then((response) => {
                        if(response.status){
                            this.admins.splice(index, 1);
                            this.$toast.clear();
                            this.$toast.success(response.message);
                        }else{
                            this.$toast.clear();
                            this.$toast.error(response.message);
                        }
                    }).catch((error) => {
                        this.$toast.error('Deleting Record Failed.'+error.response.data.message);
                    })
                }
            });            
        },
        loadUserPermissionData() {
            Object.entries(this.$auth.user.permissions).forEach(([key, value]) => {
                if((value.permission_name_id == 1) && (value.permission_action_id == 2)) {
                    this.UserPermissionDataForAdminCreate = true;
                }
                if((value.permission_name_id == 1) && (value.permission_action_id == 3)) {
                    this.UserPermissionDataForAdminEdit = true;
                }
                if((value.permission_name_id == 1) && (value.permission_action_id == 4)) {
                    this.UserPermissionDataForAdminDelete = true;
                }
            });
        },
    },
};
</script>
