<template>
    <v-row>
        <v-col cols="12">
            <v-alert
                color="#0091EA"
                border="bottom"
                elevation="1"
                colored-border
                class="blue-grey--text py-10 d-flex justify-center"
            >
                <h1>Welcome to Board</h1>
                <v-divider class="py-5"></v-divider>
                <h2>Manage your todo lists</h2>            
            </v-alert>
        </v-col>

       
    </v-row>
</template>

<script>
export default {
    name: "dashboard-view-dashboard",
    props: {
        operation: String,
    },
    components: {

    },
    data: () => ({

    }),
    mounted() {

    },
    methods: {
       
    },
    watch: {

    },
};
</script>