<template>
    <v-main>
        <div class="login primary">
            <v-container fluid class="custom-min-height" fill-height>
                <v-row align="center" justify="center">
                    <v-col xs="12" sm="8" md="4" lg="4" class="mx-auto">
                        <v-form @submit.prevent="login">
                            <v-card class="elevation-1 pa-3">
                                <v-card-text>
                                    <div class="layout column align-center">
                                        <img
                                            src="~/static/logo.png"
                                            alt="Aftur Logo"
                                            width="300"
                                        />
                                        <h1 class="flex my-4 primary--text">
                                            Office Panel Login
                                        </h1>
                                    </div>
                                    <v-text-field
                                        append-icon="mdi-account"
                                        name="email"
                                        label="Email"
                                        type="email"
                                        v-model="form.email"
                                        :error-messages="
                                            $getValidationError(errors, 'email')
                                        "
                                    ></v-text-field>
                                    <v-text-field
                                        append-icon="mdi-lock"
                                        name="password"
                                        label="Password"
                                        id="password"
                                        type="password"
                                        v-model="form.password"
                                        :error-messages="
                                            $getValidationError(
                                                errors,
                                                'password'
                                            )
                                        "
                                    ></v-text-field>
                                </v-card-text>
                                <v-layout justify-center>
                                    <v-card-actions class="justify-center">
                                        <v-spacer></v-spacer>
                                        <v-btn
                                            color="primary"
                                            type="submit"
                                            :loading="loading"
                                        >
                                            Login
                                        </v-btn>

                                        <v-btn
                                            color="success"
                                            type="button"
                                            dark
                                            :to="localePath('signingups-todoers-create')"
                                        >
                                            <v-icon>mdi-account-plus</v-icon>
                                            Todoer Registration
                                        </v-btn>
                                    </v-card-actions>
                                </v-layout>
                            </v-card>
                        </v-form>
                    </v-col>
                </v-row>
            </v-container>
        </div>
    </v-main>
</template>

<script>
export default {
    layout: "auth",
    auth: "guest",
    data() {
        return {
            loading: false,
            form: {
                email: "",
                password: "",
            },
            errors: null,
        };
    },
    methods: {
        async login() {
            this.errors = null;
            try {
                await this.$auth.loginWith("local", { data: this.form });
                this.$toast.clear();
                this.$toast.success("Logged in Successfully...");
            } catch (error) {
                this.errors = error.response
                    ? error.response.data.errors
                    : null;
                this.$toast.clear();
                this.$toast.error("Login Failed");
            }
        },
    },
};
</script>
<style scoped lang="css">
.login {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
}
.login .custom-min-height{
    min-height: 100vh;
}
</style>
