<template>
    <v-container grid-list-xl fluid>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-toolbar color="primary" dark>
                        <v-toolbar-title>Create Todo</v-toolbar-title>
                    </v-toolbar>
                    <v-divider></v-divider>
                    <v-card-text>
                        <create-edit-form
                            operation="create"
                        />
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { mapState } from "vuex";
import CreateEditForm from '@/components/activity/todo/CreateEditForm';
export default {
    beforeRouteEnter(to, from, next) {
        next(vm => {
            if((vm.user.id == 1)) {
                next();
            }else if( vm.user.role == 'todoer') {
                if (vm.user.permissions) {
                    let nameAction = false;
                    Object.entries(vm.user.permissions).forEach(([key, value]) => {
                        if(value.permission_name_id === 2 && value.permission_action_id === 2) {
                            nameAction = true;
                        }
                    });
                    if(nameAction) {
                        next()
                    }else {
                        next('/');
                    }
                }else {
                    next('/');
                }
            }else {
                next('/auth-login')
            }
        })
    },
    components: {
        CreateEditForm,
    },
    data() {
        return {
            
        }
    },
    computed: {
        ...mapState("auth", ["loggedIn", "user"]),
    },
    methods: {
        
    },
}
</script>