<template>
    <v-container grid-list-xl fluid>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-toolbar color="primary" dark>
                        <v-toolbar-title>All Todos</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn
                            v-on:click.prevent="loadTodos"
                            color="cyan"
                            dark
                        >
                            <v-icon>mdi-sync</v-icon>
                            Refresh
                        </v-btn>
                        
                        <v-btn
                            v-if="(user.id === 1 ) || 
                            (createPermission === true)"
                            :to="localePath('activities-todos-create')"
                            :nuxt="true"
                            class="ml-3"
                            color="success"
                            dark
                        >
                            <v-icon>mdi-plus</v-icon>
                            Create
                        </v-btn>
                    </v-toolbar>

                    <div class="ma-5"></div>

                    <v-toolbar flat color="white">
                        <v-text-field
                            flat
                            solo
                            prepend-icon="mdi-magnify"
                            placeholder="Search for todoer, date, status and duration"
                            v-model="search"
                            hide-details
                            class="hidden-sm-and-down"
                        ></v-text-field>
                        <v-btn v-on:click="loadTodos" color="primary">
                            <v-icon>mdi-filter</v-icon> Filter
                        </v-btn>
                        <v-btn
                            v-on:click="[(search = ''), loadTodos()]"
                            class="ml-3"
                            color="pink"
                            dark
                        >
                            <v-icon>mdi-close-circle-outline</v-icon> Clear
                        </v-btn>
                    </v-toolbar>
                    <v-divider></v-divider>
                    <v-card-text class="pa-0">
                        <v-data-table
                            :headers="table.headers"
                            :items="todos"
                            :options.sync="table.syncOptions"
                            :server-items-length="totalTodos"
                            :loading="loading"
                            loading-text="Loading... Please wait"
                        >
                            <template v-slot:item.todoer_id="{ item }">
                                {{item.todoer.full_name}}
                            </template>
                            <template v-slot:item.start_time="{ item, index }">
                                {{item.start_time.slice(0,5)}}
                            </template>
                            <template v-slot:item.end_time="{ item, index }">
                                {{item.end_time.slice(0,5)}}
                            </template>
                            <template v-slot:item.status="{ item }">
                                <v-chip
                                    :color="item.status ? 'success' : 'error'"
                                    class="ma-2"
                                    small
                                    text-color="white"
                                >
                                    {{
                                        item.status ? "Enable" : "Disable"
                                    }}
                                </v-chip>
                            </template>

                            <template v-slot:item.actions="{ item, index }">
                                <template>
                                    <v-btn
                                        v-if="(user.id === 1 ) || 
                                        (editPermission === true)"
                                        fab
                                        dark
                                        small
                                        color="primary"
                                        @click="editRecord(item.id, index)"                                        
                                    >
                                        <v-icon>mdi-account-edit</v-icon>
                                    </v-btn>

                                    <v-btn
                                        v-if="(user.id === 1 ) || 
                                        (deletePermission === true)"
                                        fab
                                        dark
                                        small
                                        color="pink"
                                        @click="deleteRecord(item.id, index)"
                                    >
                                        <v-icon>mdi-trash-can</v-icon>
                                    </v-btn>
                                </template>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
    beforeRouteEnter(to, from, next) {
        next(vm => {
            if((vm.user.id == 1)) {
                next();
            }else if( vm.user.role == 'todoer') {
                if (vm.user.permissions) {
                    let nameAction = false;
                    Object.entries(vm.user.permissions).forEach(([key, value]) => {
                        if(value.permission_name_id === 2 && value.permission_action_id === 1) {
                            nameAction = true;
                        }
                    });
                    if(nameAction) {
                        next()
                    }else {
                        next('/');
                    }
                }else {
                    next('/');
                }
            }else {
                next('/auth-login')
            }
        })
    },
    data() {
        return {
            loading: false,
            table: {
                headers: [
                    { text: "ID", value: "id", sortable: true, width: '70px' },
                    { text: "Todoer", value: "todoer_id", sortable: true, width: '230px' },
                    { text: "Title", value: "title", sortable: true, width: '230px' },
                    { text: "Date", value: "min_date", sortable: true, width: '120px' },
                    { text: "Start Time", value: "start_time", sortable: false, width: '120px' },
                    { text: "End Time", value: "end_time", sortable: false, width: '120px' },
                    { text: "Status", value: "status", sortable: true, width: '120px' },
                    { text: "Actions", value: "actions", sortable: false, width: '150px' },
                ],
                syncOptions: {},
            },
            search: "",
            todos: [],
            totalTodos: 0,
            createPermission: false,
            editPermission: false,
            deletePermission: false,
        };
    },
    computed: {
        ...mapState("auth", ["loggedIn", "user"]),
    },
    watch: {
        "table.syncOptions": {
            handler() {
                this.loadTodos();
            },
            deep: true,
        },
    },
    mounted() {
        this.loadTodos();
        this.loadUserPermissionData();
    },
    methods: {
        async loadTodos() {
            this.loading = true;
            this.todos = [];
            await this.$axios
                .$get("/v1/activities/todos", {
                    params: {
                        ...this.table.syncOptions,
                        search: this.search,
                    },
                })
                .then((response) => {
                    this.todos = response.data;
                    this.totalTodos = response.count;
                })
                .catch(
                    function (error) {
                        //console.log(error);
                        this.$toast.clear();
                        this.$toast.error("Sorry! no data found found. "+error.response.data.message);
                    }.bind(this)
                );
            this.loading = false;
        },
        editRecord(id, indx) {
            //alert(this.user.role)
            if(!(this.user.id === 1 || this.editPermission === true)) {
                this.$toast.error('You cannot edit the model. Please contact administrator.');
                return;
            }
            this.$confirm('Do you really want to edit this record?', {
                buttonTrueText: 'Yes',
                buttonFalseText: 'No',
                color: 'warning',
                icon: 'mdi-alert-circle',
                title: 'Warning',
                width: 350,
            }).then(res => {
                if(res) {
                    this.$router.push(this.localePath({name: 'activities-todos-id-edit', params: {id: id}}));
                }
            });            
        },
        deleteRecord(userId, index){
            //alert(this.user.role)
            if(!(this.user.id === 1 || this.deletePermission === true)) {
                this.$toast.error('You cannot delete the model. Please contact administrator.');
                return;
            }
            this.$confirm('Do you really want to delete this record?', {
                buttonTrueText: 'Yes',
                buttonFalseText: 'No',
                color: 'warning',
                icon: 'mdi-alert-circle',
                title: 'Warning',
                width: 350,
            }).then(res => {
                if(res) { 
                    this.$axios.$delete(
                        '/v1/activities/todos/'+userId
                    ).then((response) => {
                        if(response.status){
                            this.todos.splice(index, 1);
                            this.$toast.clear();
                            this.$toast.success(response.message);
                        }else{
                            this.$toast.clear();
                            this.$toast.error(response.message);
                        }
                    }).catch((error) => {
                        this.$toast.error('Deleting Record Failed.'+error.response.data.message);
                    })
                }
            });            
        },
        loadUserPermissionData() {
            Object.entries(this.$auth.user.permissions).forEach(([key, value]) => {
                if((value.permission_name_id == 2) && (value.permission_action_id == 2)) {
                    this.createPermission = true;
                }
                if((value.permission_name_id == 2) && (value.permission_action_id == 3)) {
                    this.editPermission = true;
                }
                if((value.permission_name_id == 2) && (value.permission_action_id == 4)) {
                    this.deletePermission = true;
                }
            });
        },
    },
};
</script>
