<template>
    <v-form v-on:submit.prevent="formSubmitHandler">
        <activity-todo-fields 
            v-model="formModel"
            :operation="operation"
            :errors="errors"
        ></activity-todo-fields>
        <div style="height: 310px; border-bottom: 1px solid #cccccc; margin-bottom: 15px;">
            <activity-todo-info-fields 
                v-model="formModel.info" 
                :errors="errors"
            ></activity-todo-info-fields>
        </div>
        <v-row>
            <v-col cols="12" class="text-center">
                <v-btn type="submit" color="success">Submit</v-btn>
                <v-btn
                    :to="localePath('activities-todos')"
                    :nuxt="true"
                    color="secondary"
                >
                    Back
                </v-btn>
            </v-col>
        </v-row>
    </v-form>
</template>

<script>
import ActivityTodoFields from "@/components/activity/ActivityTodoFields";
import ActivityTodoInfoFields from "@/components/activity/ActivityTodoInfoFields";
export default {
    name: "todo-create-edit-form",
    props: {
        operation: String,
    },
    components: {
        ActivityTodoFields,
        ActivityTodoInfoFields,
    },
    data: () => ({
        formModel: {
            info: {},
            created_by: '',
        },
        errors: null,
    }),
    mounted() {
        if (this.operation == "create") {
            this.initCreate();
        }
        if (this.operation == "edit") {
            this.initEdit();
        }
    },
    methods: {
        async initCreate() {
            this.formModel.created_by = this.$auth.user.id;
        },
        async initEdit() {
            let response = await this.$axios.$get(
                "/v1/activities/todos/" + this.$route.params.id + "/edit"
            );
            this.formModel = response.todo;
        },
        async formSubmitHandler() {
            // this.$toast.info('Auto Translating Localized Data if Needed...');
            // this.liveLesson.lesson.translations = await this.$autoTranslate(this.liveLesson.lesson.translations, ['name', 'short_description', 'long_description']);
            // this.$toast.success('Localized Data Translated if was needed.');
            if (this.operation == "create") {
                this.create();
            }
            if (this.operation == "edit") {
                this.update();
            }
        },
        async create() {
            try {
                let response = await this.$axios.$post(
                    "v1/activities/todos",
                    this.formModel
                );
                if (response.status) {
                    this.$router.push(this.localePath("activities-todos"));
                    this.$toast.clear();
                    this.$toast.success(response.message);
                } else {
                    this.$toast.clear();
                    this.$toast.error(response.message);
                }
            } catch (error) {
                this.errors = error.response.data.errors;
                this.$toast.clear();
                this.$toast.error("Operation Failed. "+error.response.data.message);
                setTimeout(() => {
                    this.$scrollTo(".error--text", {
                        offset: -100,
                    });
                }, 500);
            }
        },
        async update() {
            try {
                let response = await this.$axios.put(
                    "v1/activities/todos/" + this.$route.params.id,
                    this.formModel
                );
                if (response.data.status) {
                    this.$router.push(this.localePath("activities-todos"));
                    this.$toast.clear();
                    this.$toast.success(response.data.message);
                } else {
                    this.$toast.clear();
                    this.$toast.error(response.data.message);
                }
            } catch (error) {
                this.errors = error.response.data.errors;
                this.$toast.clear();
                this.$toast.error("Operation Failed");
                setTimeout(() => {
                    this.$scrollTo(".error--text", {
                        offset: -100,
                    });
                }, 500);
            }
        },
    },
};
</script>

<style scoped lang="css">
    .ql-container.ql-snow{
        height: 200px!important;
        overflow-y:scroll!important;
    }
    
    .ql-editor {
        height: 200px!important;
        overflow-y:scroll!important;
    }
</style>