<template>
    <v-row>
        <v-col cols="12" lg="6" md="6" sm="12">
            <v-textarea
                background-color="grey lighten-4"
                autocomplete=""
                label="Address"
                rows="7"
                class="p-0 m-0 pt-0 mt-0"
                v-model="value.address"
                :error-messages="$getValidationError(errors, 'info.address')"
            ></v-textarea>
        </v-col>

        <v-col cols="12" lg="6" md="6" sm="12">
            <v-toolbar>
                <v-tabs background-color="grey lighten-4" centered align-with-title>
                    <v-toolbar-title
                        :style="{color: color, 
                            fontSize: fontSize + 'rem', 
                            fontFamily: fontFamily
                        }"
                        class="p-0 pt-5 ml-5 mr-10"
                    >
                        Description
                    </v-toolbar-title>
                    <v-tab 
                        v-for="(locale, key) in $i18n.locales" 
                        :key="key"
                    >
                        <v-img
                            :src="require(`~/assets/images/flags/${locale.flag}`)"
                        />
                        &nbsp;{{ locale.name }}
                    </v-tab>
                    <v-tab-item v-for="(locale, key) in $i18n.locales" :key="key">
                        <div class="p-5">
                            <quill-editor
                                ref="myQuillEditor"
                                v-model="value.translations[key].description"
                                :options="editorOption"
                            />
                        </div>
                    </v-tab-item>
                </v-tabs>
            </v-toolbar>
        </v-col>
    </v-row>
</template>

<script>
export default {
    name: "signingup-info-fields",
    props: {
        value: {
            type: Object,
            required: true,
        },
        errors: {
            type: Object,
        },
    },
    data() {
        return {
            editorOption: {
                modules: {
                    toolbar: [
                        ["bold", "italic", "underline", "strike"],
                        ["blockquote", "code-block"],
                        [{ list: "ordered" }, { list: "bullet" }],
                        [{ script: "sub" }, { script: "super" }],
                        [{ indent: "-1" }, { indent: "+1" }],
                        [{ direction: "rtl" }],
                        [{ header: [1, 2, 3, 4, 5, 6, false] }],
                        [{ font: [] }],
                        [{ color: [] }, { background: [] }],
                        [{ align: [] }],
                        ["clean"],
                        ["link", "image", "video"],
                    ],
                },
            },
            fontSize: 1,
            color: 'rgba(0, 0, 0, 0.6)',
            fontFamily: 'Roboto, sans-serif'
        };
    },
    created() {
        this.value.translations = this.getUserInfoTranslations();
    },
    methods: {
        getUserInfoTranslations() {
            let translationArray = [];
            for (let index = 0; index < this.$i18n.locales.length; index++) {
                translationArray.push({
                    locale: this.$i18n.locales[index].code,
                    description: "",
                });
            }
            return translationArray;
        },
    },
    watch: {
        value() {
            this.$emit("input", this.value);
        },
    },
};
</script>