<template>
    <v-row>
        <v-col cols="12" lg="3" md="3" sm="12">
            <v-select
                :items="itemTodoers"
                v-model="value.todoer_id"
                label="Select Todoer"
                :error-messages="$getValidationError(errors, 'todoer_id')"
                item-text="full_name"
                item-value="id"
                required
            >
                <template slot='item' slot-scope='{ item }'>
                    ID {{ item.id }} - {{ item.full_name }}
                </template>
            </v-select>
        </v-col>
        <v-col cols="12" lg="6" md="6" sm="12">
            <v-text-field
                label="Title"
                placeholder="Enter Todo Title"
                v-model="value.title"
                :error-messages="$getValidationError(errors, 'title')"
                required
            ></v-text-field>
        </v-col>
        <v-col cols="12" lg="3" md="3" sm="12">
            <v-select
                :items="[
                    { id: 1, name: 'Enabled' },
                    { id: 0, name: 'Disabled' },
                ]"
                v-model="value.status"
                label="Status"
                :error-messages="$getValidationError(errors, 'status')" 
                item-text="name"
                item-value="id"
                required
            ></v-select>
        </v-col>

        <v-col cols="12" lg="4" md="4" sm="12">
            <v-menu
                ref="menu1"
                v-model="menu1"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="value.start_time"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                        v-model="value.start_time"
                        label="Start Time"
                        :error-messages="$getValidationError(errors, 'start_time')"
                        prepend-icon="mdi-clock-time-four-outline"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                    ></v-text-field>
                </template>
                <v-time-picker
                    v-if="menu1"
                    v-model="value.start_time"
                    ampm-in-title
                    format="ampm"
                    full-width
                    @click:minute="$refs.menu1.save(value.start_time)"
                ></v-time-picker>
            </v-menu>
        </v-col>
        <v-col cols="12" lg="4" md="4" sm="12">
            <v-menu
                ref="menu2"
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="value.end_time"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                        v-model="value.end_time"
                        label="End Time"
                        :error-messages="$getValidationError(errors, 'end_time')"
                        prepend-icon="mdi-clock-time-four-outline"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                    ></v-text-field>
                </template>
                <v-time-picker
                    v-if="menu2"
                    v-model="value.end_time"
                    ampm-in-title
                    format="ampm"
                    full-width
                    @click:minute="$refs.menu2.save(value.end_time)"
                ></v-time-picker>
            </v-menu>
        </v-col>
        <v-col cols="12" lg="4" md="4" sm="12">
            <v-menu
                v-model="menu3"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="auto"
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                        v-model="value.min_date"
                        label="Choose Date"
                        prepend-icon="mdi-calendar-text"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        :error-messages="$getValidationError(errors, 'min_date')"
                    ></v-text-field>
                </template>
                <v-date-picker
                    v-model="value.min_date"
                    @input="menu3 = false"
                    :min="pastDates"
                    color="green lighten-2"
                    no-title
                ></v-date-picker>
            </v-menu>
        </v-col>
    </v-row>
</template>

<script>
export default {
    name: 'activity-todo-fields',
    props: {
        value: {
            type: Object,
            required: true,
        },
        operation: {
            type: String,
        },
        errors: {
            type: Object,
        },
    },
    data() {
        return {
            itemTodoers: [],
            menu1: false,
            menu2: false,
            menu3: false,
            menu4: false,
            pastDates: '',
        };
    },
    mounted() {
        this.loadTodoers();
    },
    methods: {
        async loadTodoers() {
            let response = await this.$axios.$get(
                "/v1/activities/todos/create"
            );
            this.itemTodoers = response.todoers;
            this.pastDates = response.nextDateOfCurrDate

        },

    },
    watch: {
        value() {
            this.$emit("input", this.value);
        },  
        'value.start_time' : function(newValue, oldValue) {
            if(newValue != oldValue) {
                this.value.start_time = newValue.slice(0,5);
            }
        },
        'value.end_time' : function(newValue, oldValue) {
            if(newValue != oldValue) {
                this.value.end_time = newValue.slice(0,5);
            }
        }   
    },
};
</script>