<template>
    <div class="login primary">
        <v-container grid-list-xl fluid class="custom-min-height" fill-height>
            <v-row justify="space-around">
                <v-col cols="8">
                    <v-card>
                        <v-toolbar color="primary" dark>
                            <v-toolbar-title>Todoer User Registration</v-toolbar-title>
                        </v-toolbar>
                        <v-divider></v-divider>
                        <v-card-text>
                            <create-form
                                operation="create"
                            />
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
import CreateForm from '@/components/signingup/todoer/CreateForm';
export default {
    layout: 'signingup',
    auth: "guest",
    components: {
        CreateForm,
    },
    data() {
        return {
            
        }
    },
    methods: {
        
    },
}
</script>

<style scoped lang="css">
    .login {
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: 0;
    }
    .login .custom-min-height{
        min-height: 100vh;
    }
</style>