<template>
    <v-container grid-list-xl fluid>
        <v-row>
        </v-row>
    </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
    data() {
        return {

        };
    },
    computed: {
        ...mapState("auth", ["loggedIn", "user"]),
    },
    watch: {

    },
    mounted() {
        this.handleAfterLoggedIn();
    },
    methods: {
        handleAfterLoggedIn() {
            if(this.user.role === 'todoers') {
                this.$router.push(this.localePath("users-todoers"));
            }else {
                this.$router.push(this.localePath("dashboards-dashboards"));
            }
        }
    },
};
</script>
