<template>
    <v-container grid-list-xl fluid>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-toolbar color="primary" dark>
                        <v-toolbar-title>All Todoer Users</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn
                            v-if="user.id == 1"
                            v-on:click.prevent="loadTodoers"
                            color="cyan"
                            dark
                        >
                            <v-icon>mdi-sync</v-icon>
                            Refresh
                        </v-btn>
                        <v-divider class="mx-2" inset vertical></v-divider>
                        <v-btn
                            v-if="user.id == 1"
                            :to="localePath('users-todoers-create')"
                            :nuxt="true"
                            color="success"
                            dark
                        >
                            <v-icon>mdi-plus</v-icon>
                            Create
                        </v-btn>
                    </v-toolbar>
                    <div class="ma-5"></div>
                    <v-toolbar 
                        v-if="user.id == 1" 
                        flat color="white"
                    >
                        <v-text-field
                            flat
                            solo
                            prepend-icon="mdi-magnify"
                            placeholder="Type something"
                            v-model="search"
                            hide-details
                            class="hidden-sm-and-down"
                        ></v-text-field>
                        <v-btn v-on:click="loadTodoers" color="primary">
                            <v-icon>mdi-filter</v-icon> Filter
                        </v-btn>
                        <v-divider class="mx-2" inset vertical></v-divider>
                        <v-btn
                            v-on:click="[(search = ''), loadTodoers()]"
                            color="pink"
                            dark
                        >
                            <v-icon>mdi-close-circle-outline</v-icon> Clear
                        </v-btn>
                    </v-toolbar>
                    <v-divider></v-divider>
                    <v-card-text 
                        class="pa-0"
                    >
                        <v-data-table
                            :headers="table.headers"
                            :items="todoers"
                            :options.sync="table.syncOptions"
                            :server-items-length="totalTodoers"
                            :loading="loading"
                            loading-text="Loading... Please wait"
                        >
                            <template v-slot:item.status="{ item }">
                                <v-chip
                                    :color="item.status ? 'success' : 'error'"
                                    class="ma-2"
                                    small
                                    text-color="white"
                                >
                                    {{
                                        item.status ? "Enable" : "Disable"
                                    }}
                                </v-chip>
                            </template>

                            <template v-slot:item.actions="{ item, index }">
                                <v-btn
                                    v-if="(user.id == 1 ) || (user.role == 'todoer')"
                                    fab
                                    dark
                                    small
                                    color="primary"
                                    :to="localePath({name: 'users-todoers-id-edit', params: {id: item.id}})"
                                >
                                    <v-icon>mdi-account-edit</v-icon>
                                </v-btn>

                                <v-btn
                                    v-if="user.id == 1"
                                    fab
                                    dark
                                    small
                                    color="pink"
                                    @click="deleteRecord(item.id, index)"
                                >
                                    <v-icon>mdi-trash-can</v-icon>
                                </v-btn>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
    beforeRouteEnter(to, from, next) {
        next(vm => {
            if((vm.user.id == 1)) {
                next();
            }else if( vm.user.role == 'todoer') {
                if (vm.user.permissions) {
                    let nameAction = false;
                    Object.entries(vm.user.permissions).forEach(([key, value]) => {
                        if(value.permission_name_id === 1 && value.permission_action_id === 1) {
                            nameAction = true;
                        }
                    });
                    if(nameAction) {
                        next()
                    }else {
                        next('/');
                    }
                }else {
                    next('/');
                }
            }else {
                next('/auth-login')
            }
        })
    },
    data() {
        return {
            loading: false,
            table: {
                headers: [
                    { text: "ID", value: "id", sortable: true, width: '80px' },
                    { text: "Name", value: "full_name", sortable: true },
                    { text: "Email", value: "email", sortable: true },
                    { text: "Mobile", value: "mobile", sortable: true },
                    { text: "Status", value: "status", sortable: true },
                    { text: "Actions", value: "actions", sortable: false, width: '120px' },
                ],
                syncOptions: {
                    role: 'todoer'
                },
            },
            search: "",
            todoers: [],
            totalTodoers: 0,
        };
    },
    computed: {
        ...mapState("auth", ["loggedIn", "user"]),
    },
    watch: {
        "table.syncOptions": {
            handler() {
                this.loadTodoers();
            },
            deep: true,
        },
    },
    mounted() {
        this.loadTodoers();
    },
    methods: {
        async loadTodoers() {
            this.loading = true;
            this.todoers = [];
            await this.$axios
                .$get("/v1/users/todoers", {
                    params: {
                        ...this.table.syncOptions,
                        search: this.search,
                    },
                })
                .then((response) => {
                    this.todoers = response.data;
                    this.totalTodoers = response.count; 
                })
                .catch(
                    function (error) {
                        //console.log(error);
                        this.$toast.clear();
                        this.$toast.error("Sorry! no data found found. "+error.response.data.message);
                    }.bind(this)
                );
            this.loading = false;
        },
        deleteRecord(userId, index){
            if(userId == this.user.id){
                this.$toast.error('You cannot delete yourself. Please contact other todoers.');
                return;
            }
            this.$confirm('Do you really want to delete this record?', {
                buttonTrueText: 'Yes',
                buttonFalseText: 'No',
                color: 'warning',
                icon: 'mdi-alert-circle',
                title: 'Warning',
                width: 350,
            }).then(res => {
                if(res) { 
                    this.$axios.$delete('/v1/users/todoers/'+userId).then((response) => {
                        if(response.status){
                            this.todoers.splice(index, 1);
                            this.$toast.clear();
                            this.$toast.success(response.message);
                        }else{
                            this.$toast.clear();
                            this.$toast.error(response.message);
                        }
                    }).catch((error) => {
                        this.$toast.error('Deleting Record Failed. '+error.response.data.message);
                    })
                }
            });            
        },
    },
};
</script>
