<template>
    <v-container grid-list-xl fluid>
        <v-row>
            <v-col cols="12">
                <v-card class="mt-5">
                    <v-card-title>
                        <v-toolbar
                            dense
                            elevation="2"
                            color="#CFD8DC"
                            class="blue-grey--text d-flex justify-center"
                        >
                            <v-toolbar-title>
                                <v-icon color="blue-grey">mdi-view-dashboard</v-icon> 
                                Dashboard
                            </v-toolbar-title>
                        </v-toolbar>
                    </v-card-title>
                    <v-card-text>
                        <view-dashboard
                            operation="view"
                        />
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { mapState } from "vuex";
import ViewDashboard from '@/components/dashboard/dashboard/ViewDashboard';
export default {
    beforeRouteEnter(to, from, next) {
        next(vm => {
            if((vm.user.id !== null) && 
                (vm.user.role !== null)) {
                next()
            }else {
                next('/');
            }
        })
    },
    layout: 'dashboard',
    components: {
        ViewDashboard
    },
    data() {
        return {
            userInfo: [],
        };
    },
    computed: {
        ...mapState("auth", ["loggedIn", "user"]),
    },
    mounted() {

    },
    methods: {

    },
};
</script>
