<template>
    <v-row>
        <v-col cols="12" lg="4" md="6" sm="12">
            <v-text-field
                label="Name"
                placeholder="Your Name"
                v-model="value.name"
                :error-messages="$getValidationError(errors, 'name')"
                required
            ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" md="6" sm="12">
            <v-text-field
                label="Surname"
                placeholder="Your Surname"
                v-model="value.surname"
                :error-messages="$getValidationError(errors, 'surname')"
                required
            ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" md="6" sm="12">
            <v-text-field
                label="Email"
                type="email"
                placeholder="Your Email"
                v-model="value.email"
                :error-messages="$getValidationError(errors, 'email')"
                required
            ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" md="6" sm="12">
            <vue-tel-input-vuetify
                :inputOptions="{showDialCode: true, tabIndex: 0}"
                mode="international"
                :validate-on-blur="true"
                :required="true"
                :valid-characters-only="true"
                :disabledFetchingCountry=true
                :defaultCountry="value.region_code"
            
                @validate="handleMobileCountryCodeValidate"

                label="Mobile No"
                name="telephone"
                placeholder="Your Mobile No"
                v-model="value.mobile"
                :error-messages="$getValidationError(errors, 'region_code') ||
                $getValidationError(errors, 'mobile') ? 
                'Mobile and region fields are required, should valid or number already taken' : ''"
                required
            ></vue-tel-input-vuetify>
        </v-col>
        <v-col cols="12" lg="4" md="6" sm="12">
            <vue-tel-input-vuetify
                :inputOptions="{showDialCode: true, tabIndex: 0}"
                mode="international"
                :validate-on-blur="true"
                :required="true"
                :valid-characters-only="true"
                :disabledFetchingCountry=true
                :defaultCountry="value.phone_region_code"

                @input="handlePhoneCountryCodeValidate"

                label="Phone No"
                placeholder="Your Phone No"
                v-model="value.phone"
                :error-messages="$getValidationError(errors, 'phone_region_code') ||
                $getValidationError(errors, 'phone') ? 
                'This phone and region field should be valid if provided' : ''"
                required
            ></vue-tel-input-vuetify>
        </v-col>
        <v-col cols="12" lg="4" md="6" sm="12">
            <v-select
                :items="[
                    { id: 1, name: 'Enabled' },
                    { id: 0, name: 'Disabled' },
                ]"
                v-model="value.status"
                :error-messages="$getValidationError(errors, 'status')"
                label="Status"
                required
                item-text="name"
                item-value="id"
            ></v-select>
        </v-col>
        <v-col cols="12" lg="6" md="6" sm="12">
            <v-text-field
                label="Password"
                placeholder="Your Password"
                v-model="value.password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                v-on:click:append="showPassword = !showPassword"
                :error-messages="$getValidationError(errors, 'password')"
                required
                counter
            ></v-text-field>
        </v-col>
        <v-col cols="12" lg="6" md="6" sm="12">
            <v-text-field
                label="Confirm Password"
                placeholder="Re-type Your Password"
                v-model="value.password_confirmation"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                v-on:click:append="showPassword = !showPassword"
                :error-messages="
                    $getValidationError(errors, 'password_confirmation')
                "
                required
                counter
            ></v-text-field>
        </v-col>
    </v-row>
</template>

<script>
export default {
    name: 'user-fields',
    props: {
        operation: {
            type: String,
        },
        value: {
            type: Object,
            required: true,
        },
        errors: {
            type: Object,
        },
    },
    data() {
        return {
            showPassword: false,
            mobileCountryCodeStatus: false,
            defaultCountryCode: '',
        };
    },
    methods: {
        handleMobileCountryCodeValidate(isValid) {
            if(isValid.valid === true) {
                this.value.region_code = isValid.regionCode;
                console.log('1', isValid.valid)
            }else {
                this.value.region_code = '';
                console.log('2', isValid.valid)
            }
        },
        handlePhoneCountryCodeValidate(number,isValid,country) {
            this.value.phone_region_code = isValid.regionCode;
        }
    },
    watch: {
        value() {
            this.$emit("input", this.value);
        },
        // 'defaultCountryCode': function(newValue, oldValue) {
        //     if(newValue != oldValue) {
        //         this.value.region_code = newValue;
        //     }
        // },
    },
};
</script>