<template>
    <v-navigation-drawer
        id="appDrawer"
        :mini-variant.sync="mini"
        fixed
        :dark="$vuetify.dark"
        app
        v-model="drawer"
        width="260"
    >
        <v-toolbar color="primary darken-1" dark>
            <img
                class="mx-auto"
                src="~/static/logo-top.png"
                height="60"
                alt="Todos Office Panel"
            />
        </v-toolbar>
        <perfect-scrollbar
            class="drawer-menu--scroll"
            :options="scrollSettings"
        >
            <v-list dense expand>
                <template v-for="(item, i) in menuItems">
                    <!--group with subitems-->
                    <v-list-group
                        v-if="item.items"
                        :key="item.name"
                        :group="item.group"
                        :prepend-icon="item.icon"
                        no-action
                    >
                        <template v-slot:activator>
                            <v-list-item-title>
                                {{ item.title }}
                            </v-list-item-title>
                        </template>
                        <template v-for="(subItem, i) in item.items">
                            <!--sub group-->
                            <v-list-group
                                v-if="subItem.items"
                                :key="subItem.name"
                                :group="subItem.group"
                                sub-group
                                no-action
                            >
                                <template v-slot:activator>
                                    <v-list-item-content>
                                        <v-list-item-title
                                            @click="handlePermissionDatas(item, subItem)"
                                        >
                                            {{ subItem.title }}
                                        </v-list-item-title>
                                    </v-list-item-content>
                                </template>
                                <template
                                    v-for="(grand, i) in subItem.items"
                                >
                                    <v-list-item
                                        :key="i"
                                        v-if="checkPermissionDatas(item, subItem, grand)"
                                        :to="
                                            grand.route
                                                ? localePath(grand.route)
                                                : null
                                        "
                                        :nuxt="true"
                                        :disabled="grand.disabled"
                                        :target="grand.target"
                                    >
                                        <v-list-item-title 
                                            
                                        >
                                            {{ grand.title }}
                                        </v-list-item-title>
                                        <v-list-item-icon v-if="grand.icon">
                                            <v-icon>{{ grand.icon }}</v-icon>
                                        </v-list-item-icon>
                                    </v-list-item>
                                </template>
                            </v-list-group>
                            <!--child item-->
                            <v-list-item
                                v-else
                                :key="i"
                                :to="
                                    subItem.route
                                        ? localePath(subItem.route)
                                        : null
                                "
                                :nuxt="true"
                                :disabled="subItem.disabled"
                                :target="subItem.target"
                            >
                                <v-list-item-title>
                                    {{ subItem.title }}
                                </v-list-item-title>
                                <v-list-item-icon v-if="subItem.icon">
                                    <v-icon>{{ subItem.icon }}</v-icon>
                                </v-list-item-icon>
                            </v-list-item>
                        </template>
                    </v-list-group>
                    <v-subheader v-else-if="item.header" :key="i">{{
                        item.header
                    }}</v-subheader>
                    <!-- <v-divider v-else-if="item.divider" :key="i"></v-divider> -->
                    <v-divider v-else-if="item.divider"></v-divider>
                    <!--top-level link-->
                    <!-- <v-list-item
                        v-else
                        :to="item.route ? localePath(item.route) : null"
                        :nuxt="true"
                        :disabled="item.disabled"
                        :target="item.target"
                        :key="item.name"
                    >
                        <v-list-item-icon v-if="item.icon">
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item> -->
                    <v-list-item
                        v-else
                        :to="item.route ? localePath(item.route) : null"
                        :nuxt="true"
                        :disabled="item.disabled"
                        :target="item.target"
                    >
                        <v-list-item-icon v-if="item.icon">
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item>
                </template>
                <v-spacer class="mb-5"></v-spacer>
            </v-list>
        </perfect-scrollbar>
    </v-navigation-drawer>
</template>
<script>
import menu from "@/data/menu";
import menuTodoer from "@/data/menuTodoer";
import { PerfectScrollbar } from "vue2-perfect-scrollbar";
export default {
    name: "app-drawer",
    components: {
        PerfectScrollbar,
    },
    props: {
        expanded: {
            type: Boolean,
            default: true,
        },
    },
    data: () => ({
        mini: false,
        scrollSettings: {
            maxScrollbarLength: 160,
        },
        todoerl: false, //permission user todoer list
        todol: false, //permission user todoer todos list
        todoc: false, //permission user todoer todos create
        permissionDatas: '',
    }),
    created() {
        if((this.$auth.user.role === 'todoer') || (this.$auth.user.id !==1)) {
            this.loadPermissionDatas();
        }
    },
    computed: {
        drawer: {
            get() {
                return this.$store.state.drawer;
            },
            set(val) {
                this.$store.commit("drawer", val);
            },
        },
        menuItems() {
            if(this.$auth.user.role === 'todoer' && 
                this.$auth.user.id !==1){
                const items0 = [];
                menuTodoer.forEach((item) => {
                    let addIt = true;
                    if (item.hasOwnProperty("forRoles")) {
                        addIt = false;
                        for (let i = 0; i < this.user.roles.length; i++) {
                            const role = this.user.roles[i];
                            if (item.forRoles.indexOf(role) > -1) {
                                addIt = true;
                                break;
                            }
                        }
                    }
                    if (addIt) {
                        if(item.title == 'Users') {
                            console.log(item.items)
                        }

                        if(item.title == 'Activities') {
                            console.log(item.items)
                        }
                        items0.push(item);
                    }
                });
                return items0;
            }else {
                const items = [];
                menu.forEach((item) => {
                    let addIt = true;
                    if (item.hasOwnProperty("forRoles")) {
                        addIt = false;
                        for (let i = 0; i < this.user.roles.length; i++) {
                            const role = this.user.roles[i];
                            if (item.forRoles.indexOf(role) > -1) {
                                addIt = true;
                                break;
                            }
                        }
                    }
                    if (addIt) {
                        items.push(item);
                    }
                });
                return items;
            }
        },
        user() {
            return this.$auth.user;
        },
    },
    methods: {
        async loadPermissionDatas() {
            let response = await this.$axios.$get(
                "/v1/settings/permission-" + this.$auth.user.role + "s" + "/" + this.$auth.user.id + "/edit"
            );
            this.permissionDatas = response.user.permissions;
        },
        handlePermissionDatas(item, subItem) {
            if(this.$auth.user.role === "todoer") {
                if(item.group === "users") {
                    if(subItem.group === "todoers") {
                        Object.entries(this.permissionDatas).forEach(([key, value]) => {
                            if((value.permission_name_id == 1) && (value.permission_action_id == 1)) {
                                this.todoerl = true;
                            }
                        });
                    }
                }else if(item.group === "activities") {
                    if(subItem.group === "todos") {
                        Object.entries(this.permissionDatas).forEach(([key, value]) => {
                            if((value.permission_name_id == 2) && (value.permission_action_id == 1)) {
                                this.todol = true;
                            }
                            if((value.permission_name_id == 2) && (value.permission_action_id == 2)) {
                                this.todoc = true;
                            }
                        });
                    }
                }
            }

            // console.log("psl :" + this.psl + ", psc :" + this.psc + ", pml :" + this.pml + ", pmc :" + this.pmc + ", ppl : " + this.ppl + ", ppc :" + this.ppc)
            // console.log({'masud': item})
            // console.log({'masudS': subItem})
        },
        checkPermissionDatas(item, subItem, grand ) {
            if(this.$auth.user.role === "todoer") {
                if(item.group === "users") {
                    if(subItem.group === "todoers") {
                        if(grand.name === "todoer-list") {
                            return this.todoerl;
                        }
                    }else {
                        return true;
                    }
                }else if(item.group === "activities") {
                    if(subItem.group === "todos") {
                        if(grand.name === "todo-list") {
                            return this.todol;
                        }
                        if(grand.name === "todo-create") {
                            return this.todoc;
                        }
                    }
                }else {
                    return true;
                }
            }else {
                return true;
            }
        }
    },
};
</script>

<style lang="scss">
#appDrawer .v-navigation-drawer__content{
    overflow-y: hidden !important;
}
#appDrawer .drawer-menu--scroll {
    height: calc(100vh - 48px);
    overflow: auto;
}
.v-list--dense .v-subheader {
    text-transform: uppercase;
    color: #ffffff!important;
}
.theme--light.v-subheader {
    background-color: #1976d2;
}
.v-application--is-ltr .v-list-group--no-action.v-list-group--sub-group > .v-list-group__items > .v-list-item {
    padding-left: 75px!important;
}
</style>
