<template>
    <v-app-bar color="primary" fixed dark app>
        <v-toolbar-title class="ml-0 pl-3">
            <v-app-bar-nav-icon
                @click.stop="toggleDrawer()"
            ></v-app-bar-nav-icon>
        </v-toolbar-title>
        <v-spacer></v-spacer>

        <v-btn icon @click="handleFullScreen()">
            <v-icon>mdi-fullscreen</v-icon>
        </v-btn>

        <v-menu
            offset-y
            origin="center center"
            :nudge-bottom="10"
            transition="scale-transition"
        >
            <template v-slot:activator="{ on }">
                <v-btn large text v-on="on">
                    <v-avatar>
                        <v-icon>mdi-account-circle</v-icon>
                    </v-avatar>
                    {{ $auth.user.full_name }}
                </v-btn>
            </template>

            <v-list class="py-0">
                <v-list-item
                    @click="logout"
                    ripple="ripple"
                >
                    <v-list-item-icon>
                        <v-icon>mdi-logout</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>Logout</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-menu>
        <v-menu 
            offset-y
            :nudge-bottom="10"
            origin="center center"
            transition="scale-transition"
        >
            <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs" v-on="on" large text>
                    <img :src="require(`~/assets/images/flags/${$i18n.localeProperties.flag}`)" />&nbsp;{{ $i18n.localeProperties.name }}
                </v-btn>
            </template>
            <v-list class="py-0">
                <template v-for="locale in $i18n.locales">
                    <v-list-item :to="switchLocalePath(locale.code)" :nuxt="true" :key="locale.code" ripple>
                        <v-list-item-content>
                            <v-list-item-title><img :src="require(`~/assets/images/flags/${locale.flag}`)" />&nbsp;&nbsp;{{ locale.name }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-menu>
    </v-app-bar>
</template>

<script>
import { toggleFullScreen } from "@/util";
export default {
    name: "app-toolbar",
    data: function () {
        return {
            
        };
    },
    computed: {
        toolbarColor() {
            return this.$vuetify.options.extra.mainNav;
        },
    },
    methods: {
        toggleDrawer() {
            this.$store.commit("toggleDrawer");
        },
        handleFullScreen() {
            toggleFullScreen();
        },
        async logout() {
            this.$toast.show("Logging out...");
            await this.$auth.logout();
            this.$toast.clear();
            this.$toast.success("You are no longer logged into todo list...");
        },
    },
};
</script>
