  <template>
    <v-row class="align-center layout px-4 pt-4 app--page-header">
        <v-icon>mdi-monitor-dashboard</v-icon>
        <span class="ml-5">Dashboard</span>
    </v-row>
</template>

<script>
import menu from "@/data/menu";
export default {
    data() {
        return {
            
        };
    },
    computed: {
        breadcrumbs: function () {
            let breadcrumbs = [];
            breadcrumbs = this.loopThroughMenuItems(menu);
            return breadcrumbs;
        },
    },
    methods: {
        loopThroughMenuItems(items){
            let breadcrumbs = [];
            items.forEach((item) => {
                if (item.items) {
                    let child = item.items.find((i) => {
                        return i.route === this.getRouteBaseName();
                    });
                    if (child) {
                        breadcrumbs.push({ text: item.title });
                        breadcrumbs.push(...this.loopThroughMenuItems(item.items));
                    }else{
                        breadcrumbs.push(...this.loopThroughMenuItems(item.items));
                    }
                } else {
                    if (item.route === this.getRouteBaseName()) {
                        breadcrumbs.push({ text: item.title, disabled: true });
                    }
                }
            });
            return breadcrumbs;
        }
    },
};
</script>
