<template>
    <v-form v-on:submit.prevent="formSubmitHandler">
        <user-fields v-model="formModel" :errors="errors"></user-fields>
        <v-row>
            <v-col cols="12" class="text-center">
                <v-btn type="submit" color="success">Submit</v-btn>
                <v-btn
                    :to="localePath('users-admins')"
                    :nuxt="true"
                    color="secondary"
                >
                    Back
                </v-btn>
            </v-col>
        </v-row>
    </v-form>
</template>

<script>
import UserFields from "@/components/user/UserFields";
export default {
    name: "admin-edit-form",
    props: {
        operation: String,
    },
    components: {
        UserFields
    },
    data: () => ({
        formModel: {
            info: {},
            role: "admin",
            created_by: '',
        },
        errors: null,
    }),
    mounted() {
        if (this.operation == "create") {
            this.initCreate();
        }
        if (this.operation == "edit") {
            this.initEdit();
        }
    },
    methods: {
        async initCreate() {
            let response = await this.$axios.$get("v1/users/admins/create");
            this.formModel.created_by = this.$auth.user.id;
        },
        async initEdit() {
            let response = await this.$axios.$get(
                "/v1/users/admins/" + this.$route.params.id + "/edit"
            );
            this.formModel = response.user;
        },
        async formSubmitHandler() {
            // this.$toast.info('Auto Translating Localized Data if Needed...');
            // this.liveLesson.lesson.translations = await this.$autoTranslate(this.liveLesson.lesson.translations, ['name', 'short_description', 'long_description']);
            // this.$toast.success('Localized Data Translated if was needed.');
            if (this.operation == "create") {
                this.create();
            }
            if (this.operation == "edit") {
                this.update();
            }
        },
        async create() {
            try {
                let response = await this.$axios.$post(
                    "v1/users/admins",
                    this.formModel
                );
                if (response.status) {
                    this.$router.push(this.localePath("users-admins"));
                    this.$toast.clear();
                    this.$toast.success(response.message);
                } else {
                    this.$toast.clear();
                    this.$toast.error(response.message);
                }
            } catch (error) {
                this.errors = error.response.data.errors;
                this.$toast.clear();
                this.$toast.error("Operation Failed");
                setTimeout(() => {
                    this.$scrollTo(".error--text", {
                        offset: -100,
                    });
                }, 500);
            }
        },
        async update() {
            try {
                let response = await this.$axios.put(
                    "v1/users/admins/" + this.$route.params.id,
                    this.formModel
                );
                if (response.data.status) {
                    this.$router.push(this.localePath("users-admins"));
                    this.$toast.clear();
                    this.$toast.success(response.data.message);
                } else {
                    this.$toast.clear();
                    this.$toast.error(response.data.message);
                }
            } catch (error) {
                this.errors = error.response.data.errors;
                this.$toast.clear();
                this.$toast.error("Operation Failed");
                setTimeout(() => {
                    this.$scrollTo(".error--text", {
                        offset: -100,
                    });
                }, 500);
            }
        },
    },
};
</script>