<template>
    <v-app id="inspire" class="app">
        <app-drawer class="app--drawer"></app-drawer>
        <app-toolbar class="app--toolbar"></app-toolbar>
        <v-main>
            <v-container fluid wrap class="pb-15">
                <!-- Page Header -->
                <page-header></page-header>
                <!-- Route page -->
                <nuxt />
            </v-container>
            <!-- App Footer -->
            <v-footer height="auto" class="pa-3" inset app>
                <span class="caption">
                    &copy; {{ new Date().getFullYear() }}
                </span>
                <v-spacer></v-spacer>
                <span class="caption mr-1">
                    &copy; Copyright Todo List | Developed by Saiful.
                </span>
            </v-footer>
        </v-main>
        <!-- Go to top -->
        <app-fab></app-fab>
        <!-- theme setting -->
        <!-- <v-btn
            small
            fab
            dark
            falt
            fixed
            bottom
            right
            
            color="red"
            @click="openThemeSettings"
        >
            <v-icon>mdi-cog</v-icon>
        </v-btn> -->
        <v-navigation-drawer
            class="setting-drawer"
            temporary
            right
            v-model="rightDrawer"
            hide-overlay
            fixed
        >
            <!-- <theme-settings></theme-settings> -->
        </v-navigation-drawer>
    </v-app>
</template>

<script>
import AppDrawer from "@/components/AppDrawer";
import AppToolbar from "@/components/AppToolbar";
import AppFab from "@/components/AppFab";
import PageHeader from "@/components/PageHeader";
// import ThemeSettings from "@/components/ThemeSettings";

export default {
    components: {
        AppDrawer,
        AppToolbar,
        AppFab,
        PageHeader,
        // ThemeSettings
    },
    data: () => ({
        expanded: true,
        rightDrawer: false,
        snackbar: {
            show: false,
            text: "",
            color: "",
        },
    }),

    methods: {
        openThemeSettings() {
            this.$vuetify.goTo(0);
            this.rightDrawer = !this.rightDrawer;
        },
    },
};
</script>